<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details Page!</title>
</head>
<body>
    {% if topic %}
        <h2>Category of Topic: </h2>
        <h5>{{topic_category}}</h5>
        <h2>List of courses for the topic: {{ topic.name }}</h2>
        <ol>
            {% for course  in courses_of_topic %}
            <li> {{ course.name}} </li>
        {% endfor %}
        </ol>
    {% else %}
        <strong>The topic you are looking for is not available</strong>
    {% endif %}

<p><a href="{% url 'myapp:index'%}">Index Page</a></p>
</body>
</html>